[Desktop Entry]
Name=robotframework
Exec=code /vagrantsync/examples --user-data-dir=/vagrant/.vscode
Comment=start visual studio code with robotframework
Terminal=true
Icon=cinnamon-panel-launcher
Type=Application
